.container {
 display: grid;
 min-height: 80vh; 
 grid-template-columns: 50% 50%;
 position: relative;
 z-index: 5;
}

.img {
    box-shadow: 0px 0px 40px 20px #0B0D17 !important;
    border-radius:50%;
}

.containerExplore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerExplore__para {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width:80%;
    height: 40%;
    max-width: 242px;
    padding:40px;
    font-size: 32px;
    letter-spacing: 2px;
    background-color:white;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    position: relative;
    z-index: 2;
}

.containerExplore__para:hover{
    box-shadow: 0px 0px 1px 80px rgba(255, 255, 255, 0.1);
}